body{
  margin: 0;
  padding: 0;
  font-family: 'PT sans', sans-serif;
  color: #273456;
  font-size: 16px;
  
}
div, p, input, header, a, form{
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
  font-weight: bold;
}
h2{
  font-size: 38px;
  text-align: left;
  padding-bottom: 47px;
  color: #543024;
}
h3{
  font-size: 20px;
  color: #543024;
}
p{
  margin: 0;
  padding: 0;
  color: #000;
}
.section{
  padding-top: 98px;
}
ul, li{
  display: block;
  margin: 0;
  padding: 0;
}
.container{
  width: 1200px;
  margin: 0 auto;
}
.header{
  background: url('../img/bg.jpg') no-repeat center top / cover;
  color: #fff;
  padding-top: 43px;
  padding-bottom: 75px;
}
.btn{
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  transition: all 0.5s ease;
}
#myModal {
  width: 298px; height: 218px;
  padding: 18px 9px;
  border-radius: 4px;
  background: #fafafa;
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  margin: auto;
  display: none;
  opacity: 0;
  z-index: 38;
  text-align: center;
}

#myModal #myModal__close {
  width: 21px; height: 21px;
  position: absolute;
  font-size: 29px;
  top: 1px; right: 11px;
  cursor: pointer;
  display: block;
}

#myOverlay {
  z-index: 37;
  position: fixed;
  background: rgba(0,0,0,.7);
  width: 100%; height: 100%;
  top: 0; left: 0;
  cursor: pointer;
  display: none;
}

.nav{
  display: flex;
  align-items: center;
}
.menu-btn{
  display: block;
  margin-left: 110px;
  width: 30px;
  display: none;
}
.logo{
  background: url('../img/phone.svg') no-repeat left center;
  text-decoration: none;
  display: block;
  padding-left: 35px;
  padding-top: 5px;
  justify-content: center;
  margin-right: 111px;
}
.logo .logo_name{
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  letter-spacing: 0.055em;
  text-transform: uppercase;
}
.menu{
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu li:not(:last-child){
  margin-right: 51px;
}

.menu .nav_link{
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  line-height: 17px;
  padding-bottom: 10px;
  transition: all 0.2s ease;
}
.menu .nav_link:hover{
  border-bottom: 1px solid transparent;
}
.next_country{
  margin-left: 74px;
  display: block;
}
.next_country a{
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 0.1;
}
.next_country span{
  display: block;
  font-size: 12px;
  font-weight: normal;
  line-height: 14px;
}
.call{
  display: flex;
  margin-left: auto;
  align-items: center;
}
.call .btn{
  padding: 11px 26px;
  margin-right: 21px;
  border: 1px solid #fff;
  border-radius: 100px;
}
.call .btn:hover{
  background-color: #ff7d34;
  transform: scale(1.04);
  cursor: pointer;
}
.call span{
  font-weight: bold;
  font-size: 15px;
  line-height: 17px;
}
.offer{
  margin-top: 193px;
  text-align: center;
}
.offer h1{
  font-weight: bold;
  font-size: 50px;
  line-height: 57px;
  margin-bottom: 18px;
}
.offer p{
  width: 462px;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  margin: 0 auto;
  margin-bottom: 1.38em;
  color: #fff;
}
.offer .btn{
  padding: 15px 40px;
  border-radius: 69px;
  background-color: #ff7d34;
}
.offer .btn:hover{
  background: none;
  transform: scale(1.04);
  border: 1px solid #fff;
  cursor: pointer;
}
.strelka{
  margin-top: 180px;
  position: relative;
  display: flex;
  justify-content: center;
}
.strelka .strelka-1{
  border: 1px solid rgb(214, 206, 206);
  width: 20px;
  transform: rotate(45deg) scaleX(1.5);
}
.strelka .strelka-2{
  border: 1px solid rgb(214, 206, 206);
  width: 20px;
  transform: rotate(-45deg) scaleX(1.5);
}
/* where go */
.distination{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 72px;
}
.distination-item:nth-child(3),
.distination-item:nth-child(4){
  margin-top: 25px;
}
.distination-item{
  display: inline-flex;
  width: 585px;
  box-shadow: 0px 17px 50px rgba(32, 40, 69, 0.14);
  border-radius: 15px;
  cursor: pointer;
}
.distination-item img{
  display: block;
  border-radius: 15px 0 0 15px;
}
.distination-content{
  padding: 35px 21px 12px 30px;
}
.distination-content p{
  font-size: 13px;
}
.distination-details{
  display: flex;
  margin-bottom: 16px;
  align-items: center;
}
.distination-details .detail-day_count{
  background-color: #ee3c5c;
  padding: 3px 13px;
  border-radius: 30px;
  font-size: 13px;
  color: #fff;
  margin-right: 6px;
}
.detail-data{
  font-size: 13px;
  color: #ee3c5c;
}
.distination-title{
  margin-bottom: 12px;
  color: #543024;
}
.btn-routes{
  padding: 15px 30px;
  border: 1px solid #ff7d34;
  border-radius: 69px;
  color: #ff7d34;
  text-decoration: none;
  margin-bottom: 92px;
}
.btn-routes:hover{
  background-color: #ff7d34;
  transform: scale(1.04);
  cursor: pointer;
  border: 1px solid none;
  color: #fff;
}
/* End Where Go */
/* About Us */
.about{
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
.about-info{
  width: 572px;
}
.about-info .about-info_text:last-child{
  margin-bottom: 0;
}
.about-info_title{
  margin-bottom: 25px;
}
.about-info_text{
  line-height: 1.5em;
  margin-bottom: 25px;
}
.about img{
  display: block;
  border-radius: 15px;
}
.btn-about_one{
  padding: 15px 30px;
  border: 1px solid #ff7d34;
  border-radius: 69px;
  color: #ff7d34;
  text-decoration: none;
  margin-bottom: 92px;
}
.btn-about_one:hover{
  background-color: #ff7d34;
  transform: scale(1.04);
  cursor: pointer;
  border: 1px solid none;
  color: #fff;
}
.btn-about_two{
  padding: 15px 30px;
  border: 1px solid #ff7d34;
  border-radius: 69px;
  color: #ff7d34;
  text-decoration: none;
  margin-bottom: 92px;
}
.btn-about_two:hover{
  background-color: #ff7d34;
  transform: scale(1.04);
  cursor: pointer;
  border: 1px solid none;
  color: #fff;
}
/* End About Us */
/* The Contact */
.contact-form{
  display: flex;
  align-items: center;
}
.form{
  width: 601px;
  box-shadow: 0px 17px 50px rgba(32, 40, 69, 0.14);
  border-radius: 20px;
  padding: 58px 64px 97px;
}
.form-title{
  margin-bottom: 45px;
}
.form input{
  width: 100%;
  padding: 20px 26px;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 18px;
  border: 1px solid #999999;
  color: rgba(39, 52, 86, 0.56);
}
.btn-form{
  margin-top: 5px;
  padding: 15px 40px;
  border-radius: 69px;
  border: 1px solid #ff7d34;
  background-color: #fff;
  color: #ff7d34;
}
.btn-form:hover{
  background-color: #ff7d34;
  transform: scale(1.04);
  cursor: pointer;
  border: 1px solid none;
  color: #fff;
}
.form-call{
  display: block;
  margin: 0 auto;
}
.form-call img{
  display: block;
  width: 40px;
  height: 40px;
  color: #ff7d34;
  margin-bottom: 28px;
  margin-left: 68px;
}
.form-call a{
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: rgba(114, 52, 26, 0.89);
  text-decoration: none;
}
.copy-text{
  display: block;
  margin-top: 116px;
  margin-bottom: 119px;
  text-align: center;
}
.copy-text span{
  color: rgba(114, 52, 26, 0.6);
}
/* End Contact */
/* Media Query*/

@media screen and (max-width: 1200px){
  .container{
    width: 960px;
    margin: 0 auto;
  }
  .menu{
    display: none;
  }
  .menu-btn{
    display: block;
    margin-left: 110px;
    width: 30px;
  }
  .distination{
    flex-wrap: wrap;
    align-items: center;
  }
  .distination-content{
    padding-top: 20px;
  }
  .distination-item{
    width: 465px;
  }
  .distination-details{
    flex-direction: column;
  }
  .detail-day_count{
    display: block;
    margin-bottom: 6px;
  }
  .about{
    flex-wrap: wrap;
  }
  .about-info{
    width: 80%;
    margin: 0 auto 2rem;
  }
  .about img{
    width: 80%;
    margin: 0 auto;
  }
  .contact-form{
    display: flex;
    flex-direction: column;
  }
  .form-call{
    margin-top: 70px;
  }
}
@media screen and (max-width: 992px) {
  .container {
		width: 720px;
	}
  .logo {
		margin-right: 80px;
	}
  .next_country{
    margin-left: 0px;
  }
  .menu-btn{
    margin-left: 80px;
  }
  .distination{
    flex-wrap: wrap;
  }
  .distination-item{
    width: 80%;
    margin: 0 auto 25px;
  }
  .distination-item:nth-child(3),
  .distination-item:nth-child(4){
    margin-top: 0;
  }
  .distination-details{
    flex-direction: row;
    align-items: center;
  }
  .btn-routes{
    max-width: 218px;
    margin: 0 auto;
    display: block;
  }
  .form-call span{
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .container{
    width: 540px;
  }
  h2{
    text-align: center;
  }
  .menu-btn {
		margin-left: 40px;
	}
	.logo {
		margin-right: 40px;
	}
  .call span{
    display: none;
  }
  .menu-btn img {
		margin-left: 40px;
	}
	.logo {
		margin-right: 40px;
	}
  .offer h1 {
		line-height: 1.1em;
    	margin-bottom: 20px;
	}
  .distination{
    flex-wrap: wrap;
  }
  .distination-item{
    flex-direction: column;
  }
  .distination-item img{
    display: block;
    width: 100%;
    border-radius: 30px 30px !important;
  }
  .distination-content{
    text-align: center;
  }
  .contact-form{
    width: 100%;
  }
  .form{
    width: 100%;
  }
  .btn-form{
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .container {
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
  .call{
    display: none;
  }
  .menu-btn {
		margin-left: auto;
	}
  .menu-btn img {
		margin-left: 0;
	}
  .next_country{
    margin: 0 auto;
  }
  .offer h1 {
		font-size: 30px;
	}
	.offer p {
		width: 100%;
		font-size: 16px;
	}
	.offer {
		margin-top: 103px;
	}
  .header {
		padding-bottom: 143px;
	}
	section {
		padding-top: 79px;
	}
	h2 {
		font-size: 20px;
		margin-bottom: 56px;
	}
  .destinations-item {
		width: 100%;
	}
  h3 {
		font-size: 18px;
	}
  .form {
		padding: 42px 31px 65px;
	}
	.form h3 {
		width: 100%;
	}
	.form input {
		height: 57px;
	}
} 